In [1]:
import findspark

findspark.init()

In [2]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [3]:
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [3]:
from pyspark.sql import *
Employee = Row("Firstname", "Lastname", "Email", "Salary")
employee1 = Employee('sfad','dsafa','sadfdsf@asdf',23343)
employee2 = Employee('adsf','adsfdf','dsaf@dskfaj.com',43432)
employee3 = Employee('sfad','dsafa','sadfdsf@asdf',223343)
employee4 = Employee('adsf','adsfdf','dsaf@dskfaj.com',443432)
employee5 = Employee('sfad','dsadsaffa','sadfafdsdsf@asdf',233433)
employee6 = Employee('adsf','adsfdsdff','dsaf@dskfafdsaj.com',423432)

In [5]:
print(employee3)

Row(Firstname='sfad', Lastname='dsafa', Email='sadfdsf@asdf', Salary=223343)

In [7]:
print(employee1[0])

sfad

In [8]:
# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

In [9]:
# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee5, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [11]:
print(department1)
print(employee2)
print(departmentWithEmployees1.employees[0].Email)

Row(id='123456', name='Computer Science')
Row(Firstname='adsf', Lastname='adsfdf', Email='dsaf@dskfaj.com', Salary=43432)
sadfdsf@asdf

In [12]:
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)

display(df1)

DataFrame[department: struct<id:string,name:string>, employees: array<struct<Firstname:string,Lastname:string,Email:string,Salary:bigint>>]

In [13]:
departmentsWithEmployeesSeq2 = [departmentWithEmployees3, departmentWithEmployees4]
df2 = spark.createDataFrame(departmentsWithEmployeesSeq2)

display(df2)

DataFrame[department: struct<id:string,name:string>, employees: array<struct<Firstname:string,Lastname:string,Email:string,Salary:bigint>>]

In [19]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate();

#collect()
words = sc.parallelize (
   ["scala", 
   "java", 
   "hadoop", 
   "spark", 
   "akka",
   "spark vs hadoop", 
   "pyspark",
   "pyspark and spark"]
)
coll = words.collect()
print("Elements in RDD ->") 
print(coll)

Elements in RDD ->
['scala', 'java', 'hadoop', 'spark', 'akka', 'spark vs hadoop', 'pyspark', 'pyspark and spark']

In [18]:
count = words.count()
print("Number of elements in RDD ->")
print(count)

Number of elements in RDD ->
8